{% extends 'base.html' %}
{% load static %}

{% block title %}
    About Us
{% endblock %}
{% block content %}
    <div class="about-section">
        <h1 class="heading">
            Our mission and vision
        </h1>
        <hr class="line">
        <p class="main-text">
            The main purpose of our organization is to serve the women society according to Islamic rules. How the whole women society can be shine according to the rules of Islam, is our main motive. This organization helps to understand the relationship between The Almighty Allah and Human and also helps to learn how to treat with other persons according to Islam. Our organization also teach how to help poor people beside us. It is a non political organization.
        </p>
        <hr class="line">
        <div class="about-list">
            <ul class="about-items">
                <li class="about-item">Made night school to remove illeteracy for adult womens.</li>
                <li class="about-item">Estabilished primary and religious education system in organization room for Muslim girls and also teenagers.</li>
                <li class="about-item">Helping poor talented students by giving scholarships.</li>
                <li class="about-item">Making employments by giving Money and Materials for Poors, Homeless, Orphans and Widows.</li>
                <li class="about-item">Giving Tailor and Boutique Training to poor unemployed girls for self employment.</li>
                <li class="about-item">Giving cash permanently for Widows so that they can survive while unemployed.</li>
                <li class="about-item">Giving treatment and medicines for free to poor and homeless peoples.</li>
                <li class="about-item">Giving training (Computer, forestry, fish cultivation etc) to unemployed adults so that they can make themselves employed.</li>
                <li class="about-item">Giving Aid to poor deadbodies for last rites.</li>
                <li class="about-item">Giving religious, social, economical awarness to peoples going their home.</li>
                <li class="about-item">Made a primary school for poor and homeless children for ensuring primary edication for all.</li>
            </ul>
        </div>
    </div>
{% endblock %}
