{% extends 'base.html' %}
{% load static %}

{% block title %}
    Charitable Autist
{% endblock %}

{% block content %}
    <div class="ch-autist">
        <h1 class="heading">Our Charitable Autist</h1>
        <hr class="line">
        <p class="main-text">Our Charitable Autist open from 10:00 Am to 12:00 Pm, Where Homeopathay and Alopathay both kind of treatments are availble. Apart from this we refer serious patients to Government and Non Governmental Hospitals. We have a doctor who serves here 6 days in a week. Daily we serve almost 20-25 patients for a minimal fee of 10 BDT which is quivalent to 0.12 USD and also free. We don't take any visits from our patients because we don't have much funds for Medicine. We take that money from patients to buy Medicine. Most of the patients of us are homeless, orphane and widows. Our Charitable Autist's main purpose is to provide proper medical treatments to that people. Out Charitable Autist's services are given below.</p>
        <hr class="line">
        <div class="ch-autist-programs">
            <ul class="list-items">
                <li class="list-item">Physiotherapy for autistic people.</li>
                <li class="list-item">Special treatment for elders and childrens.</li>
                <li class="list-item">First aid for emergency services</li>
            </ul>
        </div>
    </div>
{% endblock %}
