{% extends 'base.html' %}
{% load static %}


{% block title %}
    Contact Us
{% endblock %}


{% block content %}
    <div class="contact-section">
        <h1 class="heading">
            Contact with us
        </h1>
        <hr class="line">

        <div class="contact-details">
            <div class="rows">
                <div class="row">
                    <h3 class="name">Nilufar Haque</h3>
                    <p class="designation">Secretary</p>
                    <p class="institute">Khulna Ahsania Mohila Mission</p>
                    <p class="number">Mobile: +8801715269537</p>
                </div>
                <div class="row">
                    <h3 class="name">Dr. firoja hasan</h3>
                    <p class="designation">doctor</p>
                    <p class="institute">Khulna Ahsania Mohila Mission</p>
                    <p class="number">Mobile: +8801962046390</p>
                </div>
            </div>
        </div>
        <hr class="line">
        <div class="mail">Email us at khahmomis@gmail.com</div>
    </div>
{% endblock %}
