{% extends 'base.html' %}

{% load static %}

{% block title %}
    Running Programs
{% endblock %}


{% block content %}
    <div class="running-program">
        <h1 class="heading">
            Our running programs
        </h1>
        <hr class="line">
        <div class="programs">
            <ul class="list-items">
                <li class="list-item">Running Kinder Garden School at 8:00 Am to 11:00 Am</li>
                <li class="list-item">Running Charitable Autist from 10:00 Am to 12:00 Pm, Where Homeopathay and Alopathay both kind of treatments are availble. Apart from this we refer serious patients to Government and Non Governmental Hospitals.</li>
                <li class="list-item">We serve eye treatments (Basically Cataract Surgery) at Shiromoni Eye Hospital</li>
                <li class="list-item">We are providing physiotherapy to those who needs this.</li>
                <li class="list-item">Providing Tailoring and Cottage Industry training to the women.</li>
                <li class="list-item">The women who are educated, we are providing computer training.</li>
                <li class="list-item">Giving winter clothes to poor and homeless and other aids.</li>
                <li class="list-item">Distributing ducks and hens to poor people of the society.</li>
                <li class="list-item">Awarness programs of tree plantation and fish cultivation.</li>
                <li class="list-item">Awarness programs for pregnant womens and awaken them about Diarhoea, AIDS etc.</li>
            </ul>
        </div>
    </div>
{% endblock %}