{% load static %}

<nav>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'ch-autist' %}">charitable autist</a></li>
    <li><a href="#">Our programs</a>
      <ul>
        <li><a href="{% url 'sanitation' %}">sanitation program</a></li>
        <li><a href="{% url 'education' %}">education program</a></li>
        <li><a href="{% url 'awarness' %}">awarness program</a></li>
        <li><a href="{% url 'handicraft' %}">handicraft program</a></li>
        <li><a href="{% url 'health' %}">health program</a></li>
      </ul>
    </li>
    <li><a href="{% url 'running-programs' %}">running programs</a></li>
    
    <li><a href="{% url 'about-us' %}">about us</a></li>
    <li><a href="{% url 'contact' %}">contact</a></li>
  </ul>
</nav>