{% extends 'base.html' %}

{% block title %}
    Awarness program
{% endblock title %}

{% block content %}
    <div class="awarness__program">
        <h1 class="heading">Awarness Programs</h1>
        <hr class="line">
        <p class="main-text">Bangladesh initiated an early response to the HIV epidemic starting in the mid-1980s. Since then, the response has been enhanced considerably, and many HIV-prevention interventions among the most at risk populations and the general youth are being undertaken. Alongside prevention activities, gathering of data has been a key activity fostered by both the Government and individual development partners. We are runnign some awarness programs to resist HIV spreading among the youths so that they can learn themselves and for future they can use proper knowledge.</p>
    </div>
{% endblock %}