{% extends 'base.html' %}

{% block title %}
    Education program
{% endblock title %}

{% block content %}
    <div class="edu__program">
        <h1 class="heading">Education Programs</h1>
        <hr class="line">
        <p class="main-text">We have a school named Khan Bahadur Ahsanullah Biddyalay at Gallamari, Khulna which is run by our mission's charitable funds. We have more than 70 Students, 6 Teachers and 1 Director. We take a fee of 50 BDT which is equivalent to 0.59 USD per month from each Students. If any of them unable to pay that amount then we teach them free in our school. Sometimes we face difficulties to pay our Teachers Fee. Though they are very co-cordinated. We must have to pay some amount at the end of the month. Those fees are come from Students monthly fee.</p>
        <p class="main-text">Along with that we have some people who teach street kids 3 days in a week in our mission room. We take no charges from them. We provide books and other items for education to them for free with food.</p>
    </div>
{% endblock %}