{% extends 'base.html' %}

{% block title %}
    Handicraft program
{% endblock title %}

{% block content %}
    <div class="hand__program">
        <h1 class="heading">Handicraft Program</h1>
        <hr class="line">
        <p class="main-text">We have some traniners who train widows and other poor women so that they can make money by their own. We are mentioning them below.</p>
        <div class="hand__list">
            <ul class="list-items">
                <li class="list-item">Sewings training for young age poor women.</li>
                <li class="list-item">Hand made designed blanket training for all the poor women and widows.</li>
                <li class="list-item">Hand Bags made of various types of stones.</li>
                <li class="list-item">Handmade items from jute. Like Bag, Wallmat, Flower Baskets Etc.</li>
            </ul>
        </div>
    </div>
{% endblock %}