{% extends 'base.html' %}

{% block title %}
    Health program
{% endblock title %}

{% block content %}
    <div class="health__program">
        <h1 class="heading">Health Programs</h1>
        <hr class="line">
        <p class="main-text">Health is Wealth we all know that. But Every person in our society is neither healthy nor aware of being healthy. So for the unaware people we Launch some health program from our mission for the betterment of the society and it's people. So that they can maintain good health. Our running health programs are listed below.</p>
        <div class="health__program__list">
            <ul class="list-items">
                <li class="list-item">Our Charitable Autist is one of our health programs.</li>
                <li class="list-item">Monthly Diabetic campaign.</li>
                <li class="list-item">Cataract Surgery campaign once in a year..</li>
            </ul>
        </div>
    </div>
{% endblock %}