{% extends 'base.html' %}

{% block title %}
    Sanitation program
{% endblock title %}

{% block content %}
    <div class="sanitation__program">
        <h1 class="heading">Sanitation Program</h1>
        <hr class="line">
        <p class="main-text">Sanitation program is one of the most important program of all programs. Sanitation is one of the most important part of human life. In our country people who lives below the poverty line does not have enough capacity to maintain proper sanitation. That's why we come with some programs so that they can ensure proper sanitation and do not suffer much from some common disease.</p>
        <div class="sanitation__list">
            <ul class="list-items">
                <li class="list-item">Sanitary Latrin for those families who lives below the poverty line.</li>
                <li class="list-item">Deep Tubewell for poor people who does not afford that along with some other families.</li>
                <li class="list-item">Monthly sanitation program and campaign in the rural areas.</li>
                <li class="list-item">Hand Washing Program.</li>
            </ul>
        </div>
    </div>
{% endblock %}