{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <header class="header">
        <h1>Khulna Ahsania mohila mission</h1>
        <p>9 no Sher-E-Bangla Road, Khulna</p>
    </header>
    <div class="nav-bar">
      <nav>
        <ul class="nav-links">
          <li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link" href="{% url 'ch-autist' %}">Charitable autist</a></li>
          <li><a class="nav-link" href="{% url 'programs' %}">Our programs</a></li>
          <li><a class="nav-link" href="{% url 'contact' %}">contact</a></li>
          <li><a class="nav-link" href="{% url 'about-us' %}">about us</a></li>
        </ul>
      </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>